/* body{
    background-color: aqua;
} */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 /* shared style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  /* font-optical-sizing: auto; */
  

}
.loge h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
/* main style */
header{
    background-color:#FFF8F3;
    background-image: url("../images/developer.png"),url("../images/header_bg.png") ;
    background-repeat: no-repeat;
    background-position: 23px 38px, bottom right;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    height: 66px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .btn{
        background-color: #FD6E0A;
        border: none;
        padding: 18px 20px;
        border-radius: 5px;
        font-size: 20px;
        font-weight: bolder;
        color: white;
    }

nav .menu{
    display: flex;
    /* text-decoration: none; */
    list-style-type:none;
    gap: 50px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0 370px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    #banner .banner-content{
        max-width: 585px;
    }


#banner .banner-content h2{
    font-size: 55px;
    font-weight: 600
    ;
    color: #474747;
    margin-bottom: 5px;
    /* background-color: #FD6E0A; */
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
   /* background-color: #FD6E0A; */
   margin-bottom: 20px;
   /* border: 2px solid black; */

}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 40px;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.section-heading{

    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{

    font-size: 35px;
    margin-bottom: 32px;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    color: #757575;
    line-height: 30px;
}
.text-center{
    text-align: center;
}

#banner .banner-image img{
max-width: 585px;
vertical-align: middle;
}

#about, #skills , #resume{
    padding-top: 130px;
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    background-color: #fff8f3;
    padding: 131px 156px;
    text-align: center;

}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
    font-size: 20px;
   
    line-height: 30px;
    color: #757575;

}
.about-info .info-card h4{

    font-size: 20px;
    line-height: 30px;
    color: #474747;
}


#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
#skills .skills-container .skill-box{

    display: flex;
    gap: 24px;
}
.skill-box .skill-card{
    padding: 30px;
    /* border: 1px solid red; */
    box-shadow:  0 6px 20px rgba(0,0,0,0.1);
    max-width: 267px;
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}
.resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}
.section-title {
     color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
     /* background-color: blue;   */
}
.resume-card{
    max-width: 511px;
    margin-right: 71px;
}
.card-title{
    /* background-color: #FD6E0A; */
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
.card-info{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}
.card-text{
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
    color: #757575;

}
hr{
    margin: 30px 0;
}
footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}
.footer-container{
    width: 71%;
    max-width: 1140px;
    /* background-color: red; */
    margin: 0 auto;
    display: flex;
    gap: 116px;
}
.social{
    max-width: 562px;
    /* background-color: red; */
}
.footer-container h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;

}
.social p{
    /* background-color: #FD6E0A; */
    color: #474747;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 30px;
}
.icons a{
     /* background-color: red;  */
    margin-right: 30px;
}
.form input[type="text"],textarea{
    /* background-color: red; */
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
    font-size: 16px;
}

