/* body{
    background-color: aqua;
} */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 /* shared style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  

}
.loge h2{
    font-size: 45px;
    font-weight: 900px;
}
.color-orange{
    color: #FD6E0A;
}
/* main style */
header{
    background-color:#F9D6BE;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    height: 66px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .btn{
        background-color: #FD6E0A;
        border: none;
        padding: 18px 20px;
        border-radius: 5px;
        font-size: 20px;
        font-weight: bolder;
        color: white;
    }

nav .menu{
    display: flex;
    /* text-decoration: none; */
    list-style-type:none;
    gap: 50px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}